[Desktop Entry]
Type=Application
Name=BedrockOnLinux
GenericName=Minecraft Bedrock Launcher
Comment=Run Minecraft Bedrock (Windows GDK) on Linux, multiplayer included
Exec=bedrock-on-linux %f
Icon=bedrock-on-linux
Terminal=false
Categories=Game;ActionGame;
Keywords=minecraft;bedrock;gdk;wine;proton;mcbe;
StartupNotify=true
StartupWMClass=Tk
MimeType=application/vnd.ms-minecraft;application/x-minecraft-addon;application/x-minecraft-world;application/x-minecraft-pack;
